*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
:root{
    width:100vw
}

.icon{
    height: 24px;
    width: 24px;
}
header{
    padding: 25px 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
}
.logo{
    padding:2% 50px;
    align-self: center;
    text-align: center;
}
.menu{
    padding:2% 50px;
    align-self: center;
    text-align: center;
}
main{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    background-color:rgb(56, 83, 255);
}
.shoplist{
    background-color: rgb(122, 175, 255);
    margin: 10px 25px;
    padding:10px 0;
    width: 75vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fill, minmax(400px, 1fr));
    row-gap: 10px;
    column-gap: 10px;
}
.shoplist img{
    width:100%;
    min-height:auto;
}

.titlediv{
    display: flex;
    flex-direction: column;
}
.maindiv{
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    color: rgb(61, 61, 61);
    text-align: center;
    height: 300px;
    margin:5%;
    align-items: center;
}
.price{
    color: white;
    background-color:red
}
.tag{
    width: 100%;
    color: rgb(75, 81, 255);
    text-decoration: underline;
}
.divfilters{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.fltitle{
    background-color: rgba(255, 255, 255, 0.8);
    margin: 2%;
}
.divfilters{
    margin-left: 30px;
}
.filters{
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 2%;
}
.filters>*{
    list-style-type: none;
    text-align: center;
}
.filters>h1{
   font-size: x-large;
}
.filtersul{
    align-self: flex-start;
    text-align: left;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap:4px;
}
.category{
    display: flex;
    flex-direction: column;
}
div{
    display: flex;
    list-style-type: none
}
.maindiv:hover{
    transform: scale(1.05);
    color: blue;
    transition: 0.6s;
}


@media (max-width: 730px){
  .fttitle{
    font-size: medium;
  }
}

@media (max-width: 650px){
    .divfilters{
        margin:0
    }
    main{
        flex-direction: column;
    }
    .maindiv{
        height: auto;
    }
    .filters{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        overflow: auto;
        white-space: nowrap;
    }
    .category{
        padding: 0 3%;
        background-color: rgba(255, 255, 255, 0.8);
        font-size: x-small;
    }
    .filtersul{
        padding: 5% 0;
    }
    .fltitle{
        font-size: large;
        width: 100%;
    }
    .shoplist{
        width: 100vw;
        margin:0;
        padding:0;
        grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    }
    header{
        margin:0;
        padding:0;
    }
    .logo{
        padding:2%;
        align-self: center;
        text-align: center;
    }
    .menu{
        padding:2%;
        align-self: center;
        text-align: center;
    }

  }
